<div>
    <form class="form" [formGroup]="form" >

        <h1>Endereços</h1>

        <mat-form-field class="fullWidth" appearance="legacy">
            <mat-label>Tipo Endereço</mat-label>
            <mat-select  id="tipoEndereco" formControlName="tipoEndereco">
                <mat-option *ngFor="let te of tipoEnderecos" [value]="te.value">
                    {{te.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div formGroupName="cidade" class="fullWidth">
            <div formGroupName="estado">
                <mat-form-field appearance="legacy">
                    <mat-label>Estado</mat-label>
                    <mat-select [(ngModel)]="endereco.cidade.estado.sigla" id="sigla" formControlName="sigla">
                        <mat-option *ngFor="let te of estados" [value]="te.sigla">
                            {{te.nome}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="legacy">
                    <mat-label>Cidade</mat-label>
                    <mat-select [(ngModel)]="endereco.cidade.id" id="id" formControlName="id">
                        <mat-option *ngFor="let te of cidades" [value]="te.id">
                            {{te.nome}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <mat-form-field class="fullWidth" appearance="legacy">
            <mat-label>Logradouro</mat-label>
            <input name="nome" formControlName="logradouro" required matInput
                placeholder="Ex. Logradouro">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>

        <div class="fullWidth">
        <mat-form-field  appearance="legacy">
            <mat-label>Numero</mat-label>
            <input name="numero" formControlName="numero" required matInput
                placeholder="Ex. Numero">
        </mat-form-field>

        <mat-form-field appearance="legacy">
            <mat-label>Bairro</mat-label>
            <input name="nome" formControlName="bairro" required matInput
                placeholder="Ex. Bairro">
        </mat-form-field>
        </div>

        <mat-form-field class="fullWidth" appearance="legacy">
            <mat-label>Complemento</mat-label>
            <input name="nome" formControlName="complemento" required matInput
                placeholder="Ex. Complemento">
        </mat-form-field>

        <button mat-button class="close-icon" (click)="saida()">
            <mat-icon>check_circle_outline</mat-icon>Salva
        </button>
        <button mat-button class="close-icon" (click)="abort()">
            <mat-icon>clear</mat-icon>Cancela
        </button>
    </form>
</div>
